<div class="container">
  <h1 class="text-center mb-5">To be added:</h1>
  <div class="row">
    <% @requests.each do |request| %>
      <div class="card" style="width: 20rem;">
        <img src="<%= request.image_url %>" class="card-img-top" alt="image">
        <div class="card-body">
          <p><strong><%= request.name %></strong></p>
          <p><%= request.variant %></p>
          <p><%= request.volume %></p>
          <p><%= request.country %></p>
          <p><%= request.region %></p>
          <p><%= request.maker %></p>
          <p class="card-text"><%= request.description %></p>
          <%= link_to 'Delete', request_path(request), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>